{% extends "base.html" %}
{% block content %}
    <h1>Questions</h1>
    <ul>
        {% for questions in question %}
            <p>{{ questions.name }}</p>
            <a href=" {% url 'details' question.id %} "><h3>{{ questions.question }}</h3></a>
            <div class="row">          
              <div class="col-ms-3">
                <p class="text-muted">
                    posted: {{questions.posted_on}}
                </p>
              </div>
            </div>
        {% endfor %}
    </ul>
   

{% endblock %}