{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">About Us</h5>
                  <p class="card-text">Help Desk App is a website application that
                    is focused in making the life of programmers
                   more easy.
                   We are passionate in bringing solutions 
                   accessible enough enjoy! because help desk
                    is got you.Our team is dediated
                    to put your needs onpoint 24/7.
                   </p>
                  <a href="#" class="btn btn-primary">Post Your Question</a>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <img src=" {% static 'helpdesk/images/helpline.jpg' %} " alt="">
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">FAQs</h5>
        <p class="card-text">How does HelpLine App Works?</p>
        <p class="card-text">What is the average time to find a solution?</p>
        <p class="card-text">How efficient and effective is Helpline Desk App?</p>
        <p class="card-text">Can I trust Helpline App with my personal data?</p>
        <p class="card-text">Can I be notified when a suggestion to my question is  replied?</p>
    </div>
{% endblock %}