{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <p>Posted by: {{ obj.user.username }} </p>
    <h1> {{ obj.question }}? </h1>
    
    <h2>{{ comments.count }} Answer {{comments|pluralize}} </h2>
    {% for comment in comments %}
        <figure>
            <blockquote class="blockquote">
            <p>{{comment.body}}</p>
            </blockquote>
            <figcaption class="blockquote-footer">by<cite title="Source Title">{{comment.user|capfirst}}</cite>
            </figcaption>
        </figure>
    {% endfor %}
   
        
{% endblock %}
