{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <p style="margin-top: 100;">Posted by: {{ post.post_owner.username }} </p>
    <h1> {{ post.question }}? </h1>
    <!--Approve ans -->
    <h2>{{ comments.count }} Answer{{comments|pluralize}}</h2>
    <!--likes and dislikes-->
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p}}
        {% if request.user.is_authenticated %}
            <input type="submit" value="Submit" class="btn btn-outline-success">
        {% else %}
            <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
        {% endif %}
    </form>
    {% for comment in comments %}
        <figure>
            <blockquote class="blockquote">
            <div class="card">
                <div class="row">
                    <div class="col-md-9">
                        <p class="card-header">
                            {{ comment.body }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="card-header">
                            <small>
                                Answered By:
                            {{ comment.user }}
                            </small>
                        </p>
                    </div>
                </div>
              </div>
            </blockquote>

<!--comment likes and dislikes-->
    <div class="d-flex flex-row">
        <a href=" {% url 'likecomment' comment.id post.id %} ">
            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                <i class="far fa-thumbs-up"> <span>{{ comment.total_likes }}</span></i>
            </button>
        </a>
        <a href=" {% url 'dislikecomment' comment.id post.id %} ">
            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                <i class="far fa-thumbs-down"> <span>{{ comment.total_dislikes }}</span></i>
            </button>
        </a>
        <figcaption class="blockquote-footer">Answered By: <cite title="Source Title">
            <strong>
                {{comment.user|capfirst}}</cite>
            </strong>| Answered: {{comment.date}}
        </figcaption>
        </figure>
    {% endfor %}
{% endblock %}
